body {
    background-image: url(/assets/sitely/w-37.gif);
    font-family: ms ui gothic;
    color: #5d5d5d;
    font-size: 16px;
    filter: saturate(110%);
}


#----
:root {
  --bg-main: #e6dfd7;       /* background color of the window */
  --bg-header: #b9ac9d;     /* title bar color */
  --border-color: #3e383d;  /* dark border lines */
  --font-color: #222;       /* text color */
  --font-family: "Inter", sans-serif;
}

body {
  background: #f3eddf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-family);
}

.window {
  border: 2px solid var(--border-color);
  width: 500px;
  background: var(--bg-main);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.window-header {
  background: var(--bg-header);
  color: var(--font-color);
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  font-size: 1.2em;
}

.window-buttons span {
  margin-left: 10px;
  cursor: default;
  font-size: 1em;
}

.window-body {
  background: var(--bg-main);
  padding: 10px;
}

.window-body img {
  width: 100%;
  display: block;
  border: none;
}